

.formInput {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  label {
    font-size: 60px;
  }
  input {
   background-color: #2596be;
    position: inherit;
    height: 80px;
    width: 800px;
    left: 10%;
    margin-bottom: 30%;
    font-size: 40px;
    box-shadow: 0px 0px 5px rgba(33,35,111, 0.75);/*here change the color*/
    border:1px solid rgba(33,35,111, 0.4);/*here change the color*/
    border-radius: 96px;
    outline: none;
    
  }
}