.form3Container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 5rem;
  h2 {
    font-size: 40px;
  }
  input[type="file"] {
    display: none;
}
  #avatar {
    position: relative;
    content: "Upload";
    width: 80%;
    height: 95px;
    background-color: antiquewhite;
    font-size: 70px;
    margin-bottom: 10rem;
  }
  #avatar :hover {
    cursor: pointer;
  }
  #upload_button {
    position: inherit;
    text-align: center;
    width: 400px;
    height: 80px;
    font-size: 50px;
   background-color: antiquewhite;
   left: 30%;
   display: flex;
  }
  #upload_button :hover {
    cursor: pointer;
  }
  #bio {
    text-align: center;
    position: relative;
    left: 0%;
  }
}