.formInput {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: monospace;
  label {
    font-size: 60px;
  }
  input {
   background-color: rgba(96, 40, 192, 0.664);
    position: inherit;
    font-family: monospace;
    color: white;
    height: 80px;
    width: 800px;
    left: 10%;
    margin-bottom: 30%;
    font-size: 40px;
    border:10px solid rgb(96, 40, 192);
    border-radius: 96px;
    outline: none;
  }
}