.formText {
  font-size: 50px;
  color: #f0efef;
}

  .formRadio {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    label {
      font-size: 45px;
      color: #f0efef;
    }
    input {
      
      height: 50px;
      width: 30px;
    }
  }

.formCheckbox {
  label {
    font-size: 45px;
    color: #f0efef;
  }
  input {
    height: 50px;
    width: 30px;
  }
}