

//SCSS for Header Component
.header-container {
  position: fixed;
  display: flex;
  //background-color: rgb(33,32,99, 0.7);
  width: 100%;
  top: 0;
  left: 0%;
  height: 150px;
  float: left;
  overflow: hidden;
  z-index: 10;
}

.title {
  position: relative;
  font-family: cursive;
  color: #f0efef;
  font-size: 7rem;
  text-align: center;
  width: 60%;
  top: -50px;
  text-align: left;
  justify-content: center;
}

.logout-container {
  position: relative;
  float: right;
  
  right: -15%;
  height: 45%;
  width: 20%;
  top: 54%;
  button{
    font-size: 40px;
    width: 80%;
    height: 100%;
    background-color: red;
    border-bottom: none;
  }
}