.header-container {
  position: fixed;
  background-color: rgb(96, 40, 192);
  width: 95%;
  top: 2%;
  margin: 2%;
  height: 100px;
  z-index: 10;
  border-radius: 20px;
  border-width: 10px;
}

.title {
  font-family: monospace;
  color: white;
  font-size: 3rem;
}

.logout-button {
  width: 7vw;
  height: 7vw;
  padding: 2vw;
  position: absolute;
  right: 2%;
  top: 0;
  .button {
    background-color: none;
  }
}
