.header-container {
  position: fixed;
  display: flex;
  background-color: rgb(96, 40, 192);
  width: 100%;
  top: 0;
  left: 0%;
  height: 100px;
  z-index: 10;
}

.title {
  font-family: monospace;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-left: auto;
  margin-top: none;
}

.logout-button {
  width: 7vw;
  height: 7vw;
  padding-left: 25vw;
  padding-right: 20px;
  padding-top: 15px;
  .button {
    background-color: none;
  }
}