.landing_container {
  display: flex;
  position: relative;
  top: 35rem;
  text-align: center;
  
  ul {
    list-style: none;
  }
  p{
    font-size: 60px;
  }
}

.logo_container {
  border: 5px solid black;
  padding: 40px 0;
 
}


//Discuss about if it's needed
#sign_in_button {
  position: relative;
  height: 13%;
  width: 60%;
  font-size: 8rem;
  background-color: plum;
}