body {
  background-image: url("images/background.gif");
  background-repeat: repeat-y;
  background-size: 100vh;
}

.landing_container {
  display: flex;
  position: relative;
  top: 30rem;
  text-align: center;
  align-items: center;
  
  ul {
    list-style: none;
  }
  p{
    font-size: 60px;
  }
}

.logo_container {
  position: relative;
  left: .7rem;
  padding: 40px 0;
}

p {
  font-family: monospace;
  color: #f0efef;
}


//Discuss about if it's needed
.sign_in_button {
  position: relative;
  height: 15rem;
  width: 40rem;
  font-size: 4rem;
  background-color: rgba(139, 40, 192, 0.768);
  color: rgb(155, 154, 229);
  font-family: monospace;
  border-radius: 100px;
  border-width: 10px;
  border-color: rgb(155, 154, 229);
}

.sign_in_button:hover {
  background-color: rgba(93, 91, 202);
}