.nav-container {
  position: fixed;
  display: flex;
  background-color: rgb(96, 40, 192);
  width: 95%;
  bottom: 2%;
  margin: 2%;
  height: 100px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  padding: 2rem, 2rem;
  border-radius: 20px;
  border-width: 10px;
}

.nav-item {
  width: 7vw;
  height: 7vw;
  padding: 2vw;
}
