.profile-container {
  position: relative;
  text-align: center;
  top: 100px;
  font-family: monospace;
  border-radius: 100px;
  border-width: 10px;
  border-color: rgb(155, 154, 229);
  overflow: scroll;

}

.top-container {
  width: 100%;
  #starSign{
  top: -156%;
  float: right;
  width: 5%;
  position: relative;
  }
  p{
    width: 40%
  }
}

img {
  width: 700px;
  height: auto;
}

h1 {
  font-size: 100px;
}

.profile-Info{
  font-size: 40px;
  border-top: 2px, solid black;
  padding: 2px;
  margin-bottom: 15%;
}
