.profile-container {
  font-family: monospace;
  background-color: rgba(96, 40, 192, 0.581);
  width: 95vw;
  height: 80vh;
  margin: auto;
  margin-top: 10vh;
  border-radius: 50px;
}

.details-top{
  display: flex;
  h1 {
    font-size: 6rem;
    margin: 0%;
    color: white;
    margin-left: 20px;
  }
  img {
    width: 8rem;
    height: 8rem;
  }
  .profile-starsign {
    margin-left: 35vw;
  }
}

.details-bottom{
  border-radius: 30px;
  margin-top: 60vh;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 29vw;
  background-color: rgba(96, 40, 192, 0.664);
  color: white;
  h2 {
    font-size: 5rem;
    margin-bottom: 0%;
  }
  p {
    font-size: 3rem;
    margin-bottom: 0%;
    margin-top: 10px;
  }
}

.top-container {
  width: 100%;
  #starSign{
  top: -156%;
  float: right;
  width: 5%;
  position: relative;
  }
  p{
    width: 40%
  }
}

img {
  width: 95vw;
  height: auto;
}


