.profile-container {
  position: relative;
  text-align: center;
  top: 200px;
}

img {
  width: 700px;
  height: auto;
}

h1 {
  font-size: 100px;
}

.profile-Info{
  font-size: 40px;
  border-top: 2px, solid black;
  padding: 2px;
}